@charset "UTF-8";
@import "normalize.scss";

/*--------------------------------------------------------------
>>> MAIN TABLE OF CONTENTS:
----------------------------------------------------------------
1.0 - Typography
	1.1 - Headings
	1.2 - Body Copy
	1.3 - Buttons
	1.4 - Forms
	1.5 - Lists
	1.6 - Tables
2.0 - Navigation Menus
	3.1 - Main Menu
	3.2 - Sub Menu
	3.3 - Footer Menu
3.0 - Content
	3.1 - Site Header
	3.2 - Site Body
	3.3 - Site Footer
4.0 - Media
5.0 - Utility
	5.1 - Width & Height
	5.2 - Margin & Padding
	5.3 - Color
	5.4 - Flex
6.0 - Media Query
	6.1 - Mobile
	6.2 - Tablet
--------------------------------------------------------------*/

$d1-violet: #1d1f4a;
$violet: #2e305a;
$l1-violet: #454a73;
$l2-violet: #565a81;
$l3-violet: #65678f;
$l4-violet: #8a8ba9;

$p-gutter: 25px;
$sec-padding: 75px;

html {
	background-color: $d1-violet;
}

html * {
	padding: 0;
	margin: 0;
}

body {
	opacity: 1;
	transition: 1s opacity;
}

body.fade {
	opacity: 0;
    transition: none;
}

*, *:before, *:after {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	-o-box-sizing: border-box;
	box-sizing: border-box;
}

::selection {
  background: #B5B5C7;
}
::-moz-selection {
  background: #B5B5C7;
}

/*--------------------------------------------------------------
################################################################
1.0 - Typography
################################################################
--------------------------------------------------------------*/

/*--------------------------------------------------------------
1.1 - Headings
--------------------------------------------------------------*/

h1 {
	font: 35px 'Varela Round', sans-serif;
	margin-top: 15px;
}

h2 {
	font: 700 25px 'Catamaran', sans-serif;
	color: $violet;
}

h3 {
	font: 600 #{20px}/#{25px} 'Catamaran', sans-serif;
	color: $violet;
}

#project h3 {
	color: #000;
}

#project .p-card h3 {
	color: $violet;
}

/*--------------------------------------------------------------
1.2 - Body Copy
--------------------------------------------------------------*/

p {
	font: 400 #{17px}/#{25px} 'Catamaran', sans-serif;
}

/*--------------------------------------------------------------
1.3 - Buttons
--------------------------------------------------------------*/

#left {
	color: #fff;
}

#left section > a {
	padding: 10px 20px;
	border: 2px solid #fff;
	border-radius: 5px;
	font: 500 17px 'Catamaran', sans-serif;
	color: #fff;
	text-decoration: none;
	transition: all .5s;
}

#left section > a:hover {
	background-color: #fff;
	color: $violet;
}

/*--------------------------------------------------------------
1.4 - Forms
--------------------------------------------------------------*/



/*--------------------------------------------------------------
1.5 - Links
--------------------------------------------------------------*/

ul {
	list-style: none;
}

.icn-list {
	display: flex;

	li:not(:last-child) {
		margin-right: 15px;
	}
}

#left .icn-list {
	a {
		color: #fff;
		transition: all .4s;
	}

	a:hover {
		color:  $l4-violet;
	}
}

.tooltip:hover span {
	visibility: visible;
	opacity: 1;
}

.tooltip {
	position: relative;
	color: $l4-violet;
}

.tooltip span {
	visibility: hidden;
	opacity: 0;
	transition: opacity, .4s;
	font-size: 15px;
	line-height: 20px;
    width: 200px;
    color: #fff;
	background-color: rgba(29, 31, 74, .90);
    text-align: center;
    padding: 15px;
    border-radius: 5px;
    position: absolute;
    right: -89px;
    bottom: 30px;
}

.tooltip span::after {
    content: " ";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: $violet transparent transparent transparent;
}

.fa-lg {
	color: $l2-violet;
}

/*--------------------------------------------------------------
1.6 - Tables
--------------------------------------------------------------*/



/*--------------------------------------------------------------
################################################################
2.0 - Navigation
################################################################
--------------------------------------------------------------*/

/*--------------------------------------------------------------
2.1 - Main Menu
--------------------------------------------------------------*/



/*--------------------------------------------------------------
2.2 - Sub Menu
--------------------------------------------------------------*/



/*--------------------------------------------------------------
2.3 - Footer Menu
--------------------------------------------------------------*/



/*--------------------------------------------------------------
################################################################
3.0 - Content
################################################################
--------------------------------------------------------------*/

/*--------------------------------------------------------------
3.1 - Site Header
--------------------------------------------------------------*/

#left {
	width: 50%;
	height: 100vh;
	float: left;
	background-color: #2e305a;
	text-align: center;
	position: relative;
	overflow: scroll;
}

#left section {
	padding: $sec-padding;
	height: 100%;
	min-height: 492px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	z-index: 100;
	position: relative;
}

#left p,
#left .icn-list,
#left a {
	margin-top: 30px;
}

#left > div {
	overflow: hidden;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	min-height: 492px;
	height: 100%;
}

#left > div div {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	min-width: 750px;
}

#left > div li {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 100vh;
	min-width: 900px;
}


/*--------------------------------------------------------------
3.1 - Homepage
--------------------------------------------------------------*/

#right {
	width: 50%;
	height: 100vh;
	float: right;
	background-color: #fff;
	overflow: scroll;
}

main > section {
	padding-left: $sec-padding;
	padding-right: $sec-padding;
}

main > section:first-child {
	padding-top: $sec-padding;
}

main > section:last-child {
	padding-bottom: $sec-padding;
}

#intro {
	margin-bottom: 60px;
}

#portfolio > header {
	margin-bottom: 15px;
}

#portfolio > header a {
	color: $l4-violet;
	text-decoration: none;
	transition: all .4s;
}

#portfolio > header a:hover {
	color: $violet;
}

.p-card {
	background-color: $violet;
	border-radius: 5px;
	display: flex;
	align-items: flex-end;
	padding: 15px;
	text-decoration: none;
}

.p-card div {
	visibility: hidden;
	opacity: 0;
	transition: all .3s;
	background-color: #fff;
	padding: 15px;
	width: 100%;
	border-radius: 5px;
}

.p-card p {
	color: #000;
}

.p-card:hover div {
	visibility: visible;
	opacity: 1;
}

.row > *:first-child:not(:only-child) {
	margin-right: $p-gutter;
}

.p-card:not(:only-child):not(:last-child):not(.r-2) {
	margin-bottom: $p-gutter;
}

#portfolio div:nth-child(4) a:first-child, #project footer a:first-child, #portfolio > div.row:nth-of-type(3) {
	margin-bottom: 0;
}

#portfolio div.row:not(:last-child) {
	margin-bottom: $p-gutter;
}

/*--------------------------------------------------------------
3.2 - Project page
--------------------------------------------------------------*/

#back {
	margin-bottom: 30px;
	padding-top: 25px;
}

#back a {
	text-decoration: none;
	color: $l4-violet;
	transition: all .4s;

	&:hover {
		color: $violet;
	}
}

#back i {
	margin-right: 15px;
	transform: translateY(1.5px);
}

#project header {
	justify-content: space-between;
}

#project header div:last-child {
	color: $l4-violet;
	text-align: right;
}

#project .icn-list {
	margin-top: 7px;
	align-items: flex-end;
}

#project .icn-list a {
	color: $l4-violet;
	transition: all .4s;

	&:hover {
		color: $violet;
	}
}

#project .fa-desktop {
	font-size: 1.35em;
}

#project > header, #project section:not(:last-of-type) {
	margin-bottom: 60px;
}

#project footer {
	margin-top: 75px;
}

#project img {
	background-color: $violet;
	border-radius: 5px;
}

#project .c-100, #project section:nth-of-type(2) div.row {
	margin-bottom: $p-gutter;
}

/*--------------------------------------------------------------
3.3 - Site Footer
--------------------------------------------------------------*/

#right > footer {
	background-color: $violet;
	padding: 50px 75px;
	color: #fff;
	text-align: center;
}

#right > footer img {
	margin-top: 16px;
}

#right > footer a {
	color: inherit;
	transition: all .4s;
	text-decoration: none;
	display: inline-block;
	line-height: 15px;
	border-bottom: 1px solid #fff;
    text-shadow:
   -1px -1px 0 $violet,
    1px -1px 0 $violet,
    -1px 1px 0 $violet,
     1px 1px 0 $violet;
}

#right > footer p:first-of-type {
	font-size: 16px;
}

#right > footer p:first-of-type a:hover {
	color: $l4-violet;
	border-bottom-color: $l4-violet;
}

#right > footer p:last-of-type {
	color: $l4-violet;
	font-size: 15px;
}

#right > footer p:last-of-type a:hover {
	color: #fff;
}



/*--------------------------------------------------------------
################################################################
4.0 - Media
################################################################
--------------------------------------------------------------*/

#scene img {
	width: 100%;
}

/*--------------------------------------------------------------
################################################################
5.0 - Utility
################################################################
--------------------------------------------------------------*/

/*--------------------------------------------------------------
5.1 - Width & Height
--------------------------------------------------------------*/



/*--------------------------------------------------------------
5.2 - Margin & Padding
--------------------------------------------------------------*/



/*--------------------------------------------------------------
5.3 - Color
--------------------------------------------------------------*/



/*--------------------------------------------------------------
5.4 - Grid
--------------------------------------------------------------*/

.row {
	display: flex;
}

.c-50 {
	width: calc((100% - 25px) / 2);
}

.c-100 {
	width: 100%;
}

.r-1 {
	height: 200px;
}

.r-1-5 {
	height: 300px;
}

.r-2 {
	height: 400+$p-gutter;
}


/*--------------------------------------------------------------
################################################################
5.0 - Media Query
################################################################
--------------------------------------------------------------*/

/*--------------------------------------------------------------
6.1 - Desktop
--------------------------------------------------------------*/

@media screen and (max-width: 1140px) {

#left {
	width: calc((100% ) * 1/3);
}

#right {
	width: calc((100% ) * 2/3);
}

// #right > footer {
// 	padding: 50px 50px;
// }

}

/*--------------------------------------------------------------
6.2 - Tablet
--------------------------------------------------------------*/

@media screen and (max-width: 868px) {

$sec-padding: 50px;


body {
	overflow: auto;
}

#left#left {
	float: none;
	width: 100%;
	height: 80vh;
	min-height: 500px;
}

#right#right {
	float: none;
	width: 100%;
	height: auto;
}

.p-card div {
	visibility: visible;
	opacity: 1;
}

h3 {
	font-size: 18px;
}

// main > section {
// 	padding-left: 50px;
// 	padding-right: 50px;
// }

#left section {
	padding: $sec-padding;
}

main > section {
	padding-left: $sec-padding;
	padding-right: $sec-padding;
}

main > section:first-child {
	padding-top: $sec-padding;
}

main > section:last-child {
	padding-bottom: $sec-padding;
}


}

/*--------------------------------------------------------------
6.3 - Mobile
--------------------------------------------------------------*/

@media screen and (max-width: 480px) {

$sec-padding: 15px;

body {
	overflow: auto;
}

main > section {
	padding-left: 15px;
	padding-right: 15px;
}

.c-50 {
	width: calc((100% - 15px) / 2);
}

.row > *:first-child:not(:only-child) {
	margin-right: 15px;
}

// .row .p-card:not(:only-child):not(:last-child):not(.p-1-2) {
// 	margin-bottom: 15px;
// }

div.row:not(:last-child) {
	margin-bottom: 15px;
}

.r-2 {
	height: 415px;
}

#right > footer {
	padding: 50px 15px;
}

.p-card p {
	font-size: 15px;
	line-height: 22px;
}

main > section {
	padding-left: $sec-padding;
	padding-right: $sec-padding;
}

$p-gutter: 15px;

.row > *:first-child:not(:only-child) {
	margin-right: $p-gutter;
}

.p-card:not(:only-child):not(:last-child):not(.r-2) {
	margin-bottom: $p-gutter;
}

#portfolio div.row:not(:last-child) {
	margin-bottom: $p-gutter;
}

.r-2 {
	height: 400+$p-gutter;
}


}
