<section class="ic-alert_section">
    <div class="iu-container">
        <h2 class="iu-screen_reader">Alerts</h2>
        <div class="ic-alert_section-item" role="alert">
            {{> partials/icon
                style="far"
                icon="pencil-ruler"
                size="lg"
            }}
            <div class="ic-alert_section-message">
                <h3>Redesign in Progress</h3>
                <p>This website is being developed in the open. Some aspects of this site may change, come back to see
                    what's new.</p>
            </div>
        </div>
    </div>
</section>
