<section class="ic-bookmarks">
    <div class="iu-container">
        <h3 id="bookmarks" class="ic-bookmarks-title">Bookmarks</h3>
        <p>A personal catalog of articles from the web about design and development.</p>
        <article class="ic-bookmarks-item" role="alert">
            <header class="ic-bookmarks-header">
                <h4 class="ic-bookmarks-subtitle">Design</h4>
                <a class="ic-bookmarks-link" target="_blank" href="https://raindrop.io/miguel-muniz/design-19982935"
                    title="View on Raindrop.io">
                    {{> partials/icon
                        label="External URL icon"
                        style="far"
                        icon="external-link-alt"
                        size=""
                    }}
                </a>
            </header>
            <iframe loading="lazy" style="border: 0; width: 100%; height: 450px;" allowfullscreen frameborder="0"
                src="https://raindrop.io/miguel-muniz/design-19982935/embed/hide=header%2C+add"></iframe>
        </article>
        <article class="ic-bookmarks-item" role="alert">
            <header class="ic-bookmarks-header">
                <h4 class="ic-bookmarks-subtitle">Development</h4>
                <a class="ic-bookmarks-link" target="_blank"
                    href="https://raindrop.io/miguel-muniz/development-19982936" title="View on Raindrop.io">
                    {{> partials/icon
                        label="External URL icon"
                        style="far"
                        icon="external-link-alt"
                        size=""
                    }}
                </a>
            </header>
            <iframe loading="lazy" style="border: 0; width: 100%; height: 450px;" allowfullscreen frameborder="0"
                src="https://raindrop.io/miguel-muniz/development-19982936/embed/hide=header%2C+add"></iframe>
        </article>
    </div>
</section>
