{% macro button(href = '', target = '', text = '', style = 'solid', square = false, leadingIcon = '', leadingIconStyle = 'far', trailingIcon = '', trailingIconStyle = 'far', tooltip = '', ariaLabel = '') %}
    {# Set up classes based on button style #}
    {% if style === 'solid' %}
        {% set classes %}
            flex space-x-3 {% if square or not text %} px-3 {% else %} px-4 {% endif %} py-2 border rounded transition duration-500 ease-in-out
            bg-gray-700 text-white border-gray-700
            hover:bg-gray-800 hover:border-gray-800
            active:bg-gray-900 active:border-gray-900
            focus:outline-none focus:ring
        {% endset %}
    {% elseif style === 'outline' %}
        {% set classes %}
            flex space-x-3 {% if square or not text %} px-3 {% else %} px-4 {% endif %} py-2 border rounded transition duration-500 ease-in-out
            bg-transparent text-gray-700 border-gray-700
            hover:bg-gray-100
            active:bg-gray-200
            focus:outline-none focus:ring
        {% endset %}
    {% elseif style === 'plain' %}
        {% set classes %}
            flex space-x-3 {% if square or not text %} px-3 {% else %} px-4 {% endif %} py-2 border rounded transition duration-500 ease-in-out
            bg-transparent text-gray-700 border-transparent
            hover:bg-gray-100
            active:bg-gray-200
            focus:outline-none focus:ring
        {% endset %}
    {% elseif style === 'link' %}
        {% set classes %}
            flex space-x-3 transition duration-500 ease-in-out
            bg-transparent text-gray-700 underline
            hover:text-gray-500
            active:text-gray-300
            focus:outline-none
        {% endset %}
    {% endif %}

    {# Set up component #}
    {% if href %}
        <a href="{{href}}"
            {% if target %} target="{{target}}" {% endif %}
            class="{{classes}}"
            {% if ariaLabel%} aria-label="{{ariaLabel}}" {% endif%}
            {% if tooltip%} data-tippy-content="{{tooltip}}" {% endif%}
        >
            {% if leadingIcon %}
                <span>
                    <i class="fa {{leadingIconStyle}} fa-fw fa-{{leadingIcon}}"></i>
                </span>
            {% endif %}
            {% if text %}
                <span>{{text}}</span>
            {% endif %}
            {% if trailingIcon %}
                <span>
                    <i class="fa {{trailingIconStyle}} fa-fw fa-{{trailingIcon}}"></i>
                </span>
            {% endif %}
        </a>
    {% else %}
        <button type="button" class="{{classes}}" {% if ariaLabel%} aria-label="{{ariaLabel}}" {% endif%} {% if tooltip%} data-tippy-content="{{tooltip}}" {% endif%}>
            {% if leadingIcon %}
                <span>
                    <i class="fa {{leadingIconStyle}} fa-fw fa-{{leadingIcon}}"></i>
                </span>
            {% endif %}
            {% if text %}
                <span>{{text}}</span>
            {% endif %}
            {% if trailingIcon %}
                <span>
                    <i class="fa {{trailingIconStyle}} fa-fw fa-{{trailingIcon}}"></i>
                </span>
            {% endif %}
        </button>
    {% endif %}
{% endmacro %}
