<section class="ic-experience_section">
    <div class="ic-experience_section-content iu-container">
        <h3 id="experience-and-education" class="ic-experience_section-title">Experience & Education</h3>
        {{!-- <div class="ic-experience_section-item">
            <div class="ic-experience_section-marker" aria-hidden="true">
                {{> partials/icon
                    style="fal"
                    icon="poll-people"
                    size="lg"
                }}
            </div>
            <h4 class="ic-experience_section-location">Gallup</h4>
            <p class="ic-experience_section-caption">User Experience Designer</p>
            <p class="ic-experience_section-period">February 2022 &ndash; Current</p>
        </div> --}}
        <div class="ic-experience_section-item">
            <div class="ic-experience_section-marker" aria-hidden="true">
                {{> partials/icon
                    style="fal"
                    icon="university"
                    size="lg"
                }}
            </div>
            <h4 class="ic-experience_section-location">University of Nebraska</h4>
            <p class="ic-experience_section-caption">Web Designer & Developer</p>
            <p class="ic-experience_section-period">October 2018 &ndash; February 2022</p>
            <h5 class="ic-experience_section-subtitle">Responsibilities</h5>
            <p class="ic-experience_section-summary">Worked on a team of 3 designers, 5 developers, and 1 product owner
                to create a design system for the University of Nebraska, a learning management system for the
                University of Nebraska High School, and an internal event management system for the Office of the
                President.</p>
            <details class="ic-experience_section-details">
                <summary>
                    <span>Details</span>
                    {{> partials/icon
                        style="far"
                        icon="chevron-down"
                        size="xs"
                    }}
                </summary>
                <ul>
                    <li>Collaborated with the team and stakeholders to prioritize future design work, gather
                        requirements, and incorporate user
                        feedback.</li>
                    <li>Created 300+ user stories in an agile/scrum environment where we continuously shipped features
                        for our learning
                        management system and event management system.</li>
                    <li>Designed, prototyped, and performed quality assurance for 50+ implemented features.</li>
                    <li>Conducted 3 application-wide accessibility audits using screen readers and browser extensions.
                    </li>
                    <li>Established a product design process and coding principles in collaboration with team members to
                        increase efficiency, code consistency, and product quality.</li>
                    <li>Built 50+ design system components and 20+ pattern library documentation pages, reducing
                        the time needed to develop web applications by 50%.</li>
                </ul>
            </details>
        </div>
        <div class="ic-experience_section-item">
            <div class="ic-experience_section-marker" aria-hidden="true">
                {{> partials/icon
                    style="fal"
                    icon="fire-alt"
                    size="lg"
                }}
            </div>
            <h4 class="ic-experience_section-location">Firespring</h4>
            <p class="ic-experience_section-caption">Front-End Web Developer</p>
            <p class="ic-experience_section-period">May 2017 &ndash; October 2018</p>
            <h5 class="ic-experience_section-subtitle">Responsibilities</h5>
            <p class="ic-experience_section-summary">Worked on a team of 1 designer and 5 front-end developers focused
                on setting up customer's websites, developing custom website themes, and maintaining websites for a
                proprietary CMS.</p>
            <details class="ic-experience_section-details">
                <summary>
                    <span>Details</span>
                    {{> partials/icon
                        style="far"
                        icon="chevron-down"
                        size="xs"
                    }}
                </summary>
                <ul>
                    <li>Developed custom themes for small to medium businesses based on designer's mockups</li>
                    <li>Performed quality assurance testing and bug reporting for fellow developers</li>
                    <li>Fixed client bug reports and completed client requests</li>
                    <li>Documented front-end practices and worked with developers to improve our internal framework</li>
                    <li>Worked with customer service to set up clients in the CMS and migrated content from their
                        previous websites</li>
                </ul>
            </details>
        </div>
        <div class="ic-experience_section-item">
            <div class="ic-experience_section-marker" aria-hidden="true">
                {{> partials/icon
                    style="fal"
                    icon="apple-alt"
                    size="lg"
                }}
            </div>
            <h4 class="ic-experience_section-location">Fruitful Design & Strategy</h4>
            <p class="ic-experience_section-caption">Graphic Design Intern</p>
            <p class="ic-experience_section-period">October 2016</p>
        </div>
        <div class="ic-experience_section-item">
            <div class="ic-experience_section-marker" aria-hidden="true">
                {{> partials/icon
                    style="fal"
                    icon="graduation-cap"
                    size="lg"
                }}
            </div>
            <h4 class="ic-experience_section-location">Southeast Community College</h4>
            <p class="ic-experience_section-caption">Graphic Design | Media Arts</p>
            <p class="ic-experience_section-period">July 2015 &ndash; June 2017</p>
        </div>
    </div>
</section>
