<section class="ic-experience_section">
    <div class="ic-experience_section-content iu-container">
        <h3 id="experience-and-education" class="ic-experience_section-title">Experience & Education</h3>
        <div class="ic-experience_section-item">
            <div class="ic-experience_section-marker" aria-hidden="true">
                {{> partials/icon
                    style="fal"
                    icon="university"
                    size="lg"
                }}
            </div>
            <h4 class="ic-experience_section-location">University of Nebraska</h4>
            <p class="ic-experience_section-caption">Web Designer & Developer</p>
            <p class="ic-experience_section-period">Oct 2018 &ndash; Current</p>
            <h5 class="ic-experience_section-subtitle">Responsibilities</h5>
            <p class="ic-experience_section-summary">Worked on a team of designers and back-end developers to create a
                design system for the University of Nebraska, a learning management system for the University of
                Nebraska High School, and an internal event management system for the Office of the President.</p>
            <details class="ic-experience_section-details">
                <summary>
                    <span>Details</span>
                    {{> partials/icon
                        style="far"
                        icon="chevron-down"
                        size="xs"
                    }}
                </summary>
                <ul>
                    <li>Collaborated with 3 designers, 5 developers, and 1 product owner to plan future work and gather
                        requirements</li>
                    <li>Documented 300+ user stories including details and acceptance criteria in an agile/scrum
                        environment</li>
                    <li>Established front-end coding principles with 3 other designers, increasing code consistency and
                        readability.</li>
                    <li>Continuously tested and performed quality assurance of 50+ implemented features</li>
                    <li>Created 200+ front-end prototypes, 50+ design system components, and 20+ pattern library pages
                    </li>
                </ul>
            </details>
        </div>
        <div class="ic-experience_section-item">
            <div class="ic-experience_section-marker" aria-hidden="true">
                {{> partials/icon
                    style="fal"
                    icon="fire-alt"
                    size="lg"
                }}
            </div>
            <h4 class="ic-experience_section-location">Firespring</h4>
            <p class="ic-experience_section-caption">Front-End Web Developer</p>
            <p class="ic-experience_section-period">May 2017 &ndash; Oct 2018</p>
            <h5 class="ic-experience_section-subtitle">Responsibilities</h5>
            <p class="ic-experience_section-summary">Worked on a team of 1 designer and 5 front-end developers focused
                on setting up customer's websites, developing custom website themes, and maintaining websites for a
                proprietary CMS.</p>
            <details class="ic-experience_section-details">
                <summary>
                    <span>Details</span>
                    {{> partials/icon
                        style="far"
                        icon="chevron-down"
                        size="xs"
                    }}
                </summary>
                <ul>
                    <li>Developed custom themes for small to medium businesses based on designer's mockups</li>
                    <li>Performed quality assurance testing and bug reporting for fellow developers</li>
                    <li>Fixed client bug reports and completed client requests</li>
                    <li>Documented front-end practices and worked with developers to improve our internal framework</li>
                    <li>Worked with customer service to set up clients in the CMS and migrated content from their
                        previous websites</li>
                </ul>
            </details>
        </div>
        <div class="ic-experience_section-item">
            <div class="ic-experience_section-marker" aria-hidden="true">
                {{> partials/icon
                    style="fal"
                    icon="graduation-cap"
                    size="lg"
                }}
            </div>
            <h4 class="ic-experience_section-location">Southeast Community College</h4>
            <p class="ic-experience_section-caption">Graphic Design | Media Arts</p>
            <p class="ic-experience_section-period">July 2015 &ndash; June 2017</p>
        </div>
    </div>
</section>
