<header class="ic-hero_pattern">
    <div class="ic-hero_pattern-image" role="img" aria-label="Colorful pattern of icons">
        {{> partials/hero-pattern}}
    </div>
    <div class="ic-hero_pattern-content iu-container">
        <div class="ic-hero_pattern-logo" role="img" aria-label="Miguel Muniz's monogram logo">
            {{> partials/logo}}
        </div>
        <h1 class="ic-hero_pattern-headline">
            <span class="ic-hero_pattern-name">{{title}}</span>
            <span class="ic-hero_pattern-title">{{subtitle}}</span>
        </h1>
    </div>
</header>
