<section>
    <div class="wrapper">
        <nav>
            <ul>
                <li>
                    <a href="">
                        <span>

                        </span>
                        <span></span>
                    </a>
                </li>
                <li><a href="">
                        <span>

                        </span>
                        <span></span>
                    </a>
                </li>
                <li><a href="">
                        <span>

                        </span>
                        <span></span>
                    </a>
                </li>
                <li><a href="">
                        <span>

                        </span>
                        <span></span>
                    </a>
                </li>
            </ul>
        </nav>
    </div>
</section>
