<section class="introduction">
    <div class="wrapper">
        <h2>{{title}}</h2>
        <p>{{description}}</p>
        <ul>
            <li>
                <a href="https://www.linkedin.com/in/miguel-muniz/">
                    <span><i class="fab fa-linkedin-in"></i></span>
                    <span>LinkedIn</span>
                </a>
            </li>
            <li>
                <a href="https://github.com/migmuni">
                    <span><i class="fab fa-github"></i></span>
                    <span>GitHub</span>
                </a>
            </li>
        </ul>
    </div>
</section>
