<section class="ic-intro_section">
    <div class="ic-intro_section-content iu-container">
        <h2 class="ic-intro_section-title">
            {{title}}
        </h2>
        <p class="ic-intro_section-description">
            {{description}}
        </p>
        <ul class="ic-intro_section-list" role=list>
            <li class="ic-intro_section-item">
                <a class="ic-intro_section-link" target="_blank" href="https://www.linkedin.com/in/miguel-muniz/"
                    title="LinkedIn">
                    {{> partials/icon
                        label="LinkedIn"
                        style="fab"
                        icon="linkedin-in"
                        size="lg"
                    }}
                </a>
            </li>
            <li class="ic-intro_section-item">
                <a class="ic-intro_section-link" target="_blank" href="https://raindrop.io/miguel-muniz"
                    title="Raindrop.io">
                    {{> partials/icon
                        label="Raindrop.io"
                        style="fas"
                        icon="clouds"
                        size="lg"
                    }}
                </a>
            </li>
        </ul>
    </div>
</section>
