<section class="ic-outro">
    <div class="iu-container">
        <h2 class="ic-outro-title">Thanks for taking a look</h2>
        <p>If you'd like to get in touch, you can reach me with a message on <a target="_blank"
                href="https://www.linkedin.com/in/miguel-muniz/">LinkedIn</a>.<br>
            &copy; 2022 Miguel Muniz &mdash; Designed and developed by a pencil nerd.</p>
    </div>
</section>
