<section class="ic-projects">
    <div class="ic-projects-content iu-container">
        <h3 id="projects-and-portfolio" class="ic-projects-title">Projects & Portfolio</h3>
        <article class="ic-projects-item">
            <h4 class="ic-projects-subtitle">Theorem</h4>
            <div class="ic-projects-image_grid">
                <img src="/images/projects/theorem/primary.jpg" width="2000" height="1000"
                    alt="Theorem's login page on a desktop" class="ic-projects-image">
                <img src="/images/projects/theorem/secondary.jpg" width="1500" height="1000"
                    alt="Theorem's course page on a tablet" class="ic-projects-image">
                <img src="/images/projects/theorem/tertiary.jpg" width="1000" height="1000"
                    alt="Theorem's course page on mobile" class="ic-projects-image">
            </div>
            <p class="ic-projects-supporting">Product Design</p>
            <p class="ic-projects-description">The University of Nebraska High School is an accredited online high
                school serving students since 1929. They needed to replace their aging learning management system used
                by students, staff, and proctors. Theorem is the successor to their old system, giving students a modern
                and intuitive learning experience across desktop and mobile.</p>
        </article>
        <article class="ic-projects-item">
            <h4 class="ic-projects-subtitle">NUcleus for Apps</h4>
            <div class="ic-projects-image_grid">
                <img src="/images/projects/nucleus/primary.jpg" width="2000" height="1000"
                    alt="NUcleus for Apps' component documentation page" class="ic-projects-image">
                <img src="/images/projects/nucleus/secondary.jpg" width="1500" height="1000"
                    alt="NUcleus for Apps' component live preview page" class="ic-projects-image">
                <img src="/images/projects/nucleus/tertiary.jpg" width="1000" height="1000"
                    alt="NUcleus' version selection page" class="ic-projects-image">
            </div>
            <p class="ic-projects-supporting">Design & Front-End Web Development</p>
            <p class="ic-projects-description">The University of Nebraska NeDDS team is in need of a design
                system for the many web applications they manage. NUcleus for Apps is this system, establishing reusable
                components, consistent design patterns, and thoughtful guidance. With this system, designers
                and developers can efficiently create web applications with less resources.</p>
        </article>
        <article class="ic-projects-item">
            <h4 class="ic-projects-subtitle">NU Contact</h4>
            <div class="ic-projects-image_grid">
                <img src="/images/projects/nu-contact/primary.jpg" width="2000" height="1000"
                    alt="NUContact's dashboard page on desktop" class="ic-projects-image">
                <img src="/images/projects/nu-contact/secondary.jpg" width="1500" height="1000"
                    alt="NUContact's profile page on desktop" class="ic-projects-image">
                <img src="/images/projects/nu-contact/tertiary.jpg" width="1000" height="1000"
                    alt="NUContact's login page on desktop" class="ic-projects-image">
            </div>
            <p class="ic-projects-supporting">Product Design</p>
            <p class="ic-projects-description">The University of Nebraska Office of the President has staff in charge of
                organizing and coordinating events. Their current system is complex and dated. NU Contact replaced their
                old system with a streamlined interface and refreshed tools tailored for their needs.</p>
        </article>
        <article class="ic-projects-item">
            <h4 class="ic-projects-subtitle">The Black Cat</h4>
            <div class="ic-projects-image_grid">
                <img src="/images/projects/black-cat/primary.jpg" width="2000" height="1000"
                    alt="The Black Cat book cover" class="ic-projects-image">
                <img src="/images/projects/black-cat/secondary.jpg" width="1500" height="1000"
                    alt="The Black Cat opening title" class="ic-projects-image">
                <img src="/images/projects/black-cat/tertiary.jpg" width="1000" height="1000"
                    alt="The Black Cat story page" class="ic-projects-image">
            </div>
            <p class="ic-projects-supporting">Book Design & Illustration</p>
            <p class="ic-projects-description">Staples is the leading brand of office supply stores in America. As their
                business slows outside of the back-to-school season, they required an ad campaign to remind parents that
                they will always be there for them by using comical and relatable illustrations.
            </p>
        </article>
        <article class="ic-projects-item">
            <h4 class="ic-projects-subtitle">Restore, Gorilla Grocery, & Metr.io</h4>
            <div class="ic-projects-image_grid">
                <img src="/images/projects/logos/primary.jpg" width="2000" height="1000" alt="Restore logo"
                    class="ic-projects-image">
                <img src="/images/projects/logos/secondary.jpg" width="1500" height="1000" alt="Gorilla Grocery logo"
                    class="ic-projects-image">
                <img src="/images/projects/logos/tertiary.jpg" width="1000" height="1000" alt="Metr.io logo"
                    class="ic-projects-image">
            </div>
            <p class="ic-projects-supporting">Corporate Identity Design</p>
            <p class="ic-projects-description">This is a collection of various identities for Metr.io, Gorilla Grocery,
                and Restore. Metr.io is a simplistic and futuristic transportation app, Gorilla Grocery is a youthful
                and up beat grocery store, and Restore is a yearly choir series done by Nebraska Christian University.
            </p>
        </article>
        <article class="ic-projects-item">
            <h4 class="ic-projects-subtitle">Staples</h4>
            <div class="ic-projects-image_grid">
                <img src="/images/projects/staples/primary.jpg" width="2000" height="1000"
                    alt="Nonfunctioning uncharged phone juxtaposed with a reliable pen and notepad"
                    class="ic-projects-image">
                <img src="/images/projects/staples/secondary.jpg" width="1500" height="1000"
                    alt="Mislabeled coffee cup relabeled with white out and a pen" class="ic-projects-image">
                <img src="/images/projects/staples/tertiary.jpg" width="1000" height="1000"
                    alt="Broken glasses repaired with tape" class="ic-projects-image">
            </div>
            <p class="ic-projects-supporting">Ad Campaign & Illustration</p>
            <p class="ic-projects-description">Feed Books is expanding into the printed book market by publishing public
                domain books. Feed Books requested a book cover for The Black Cat that would be dark, chaotic, slightly
                mysterious and would represent the characters in the book to catch the attention of young, avid
                bookstore shoppers.
            </p>
        </article>
        <article class="ic-projects-item">
            <h4 class="ic-projects-subtitle">Orbit</h4>
            <div class="ic-projects-image_grid">
                <img src="/images/projects/orbit/primary.jpg" width="2000" height="1000"
                    alt="Orbit gum with an illustration of a lively fruit and monsters in strange worlds"
                    class="ic-projects-image">
                <img src="/images/projects/orbit/secondary.jpg" width="1500" height="1000"
                    alt="Man looks at a wall with an orbit ad" class="ic-projects-image">
                <img src="/images/projects/orbit/tertiary.jpg" width="1000" height="1000"
                    alt="Illustrations of monsters from orbit ads used as stickers in a text message conversation"
                    class="ic-projects-image">
            </div>
            <p class="ic-projects-supporting">Ad Campaign & Illustration</p>
            <p class="ic-projects-description">Orbit is one of the leading brands of gum in the US. Orbit wanted to
                highlight how every piece of Orbit gum creates a flavor sensation. With this ad campaign, it uses
                hand-drawn, playful illustrations to attract a younger demographic with its fun and enticing characters.
            </p>
        </article>
    </div>
</section>
