<section class="ic-quick_links">
    <div class="iu-container">
        <h2 class="ic-quick_links-title">Jump Ahead</h2>
        <ul class="ic-quick_links-list">
            <li class="ic-quick_links-item">
                <a class="ic-quick_links-link" href="#experience-and-education">Experience & Education</a>
            </li>
            <li class="ic-quick_links-item">
                <a class="ic-quick_links-link" href="#skills-and-strengths">Skills & Strengths</a>
            </li>
            <li class="ic-quick_links-item">
                <a class="ic-quick_links-link" href="#projects-and-portfolio">Projects & Portfolio</a>
            </li>
        </ul>
    </div>
</section>
