<section class="ic-skills_section">
    <div class="ic-skills_section-content iu-container">
        <h3>Skills & Strengths</h3>
        <div class="ic-skills_section-list">
            <div class="ic-skills_section-left">
                <h4>Proficient</h4>
                <ul class="ic-skills_section-proficient_list">
                    <li>Adobe Creative Cloud</li>
                    <li>Branding, Logo Design</li>
                    <li>BrowserStack</li>
                    <li>CSS, Sass, PostCSS</li>
                    <li>Figma, Sketch, Adobe Xd</li>
                    <li>Git, GitHub, Azure Repos</li>
                    <li>Gulp, Webpack</li>
                    <li>Handlebars, Nunjucks, Twig</li>
                    <li>HTML</li>
                    <li>Icon Design</li>
                    <li>Image Optimization</li>
                    <li>InVision, Marvel</li>
                    <li>Terminal, CLI tools</li>
                    <li>UI/UX Design</li>
                    <li>VSCode</li>
                </ul>
            </div>
            <div class="ic-skills_section-right">
                <div class="ic-skills_section-top">
                    <h4>Knowledgeable</h4>
                    <ul class="ic-skills_section-knowledgable_list">
                        <li>Accessibility</li>
                        <li>Bootstrap, Foundation, Tailwind</li>
                        <li>Design Systems</li>
                        <li>Illustration</li>
                        <li>Javascript</li>
                        <li>SVG</li>
                    </ul>
                </div>
                <div class="ic-skills_section-bottom">
                    <h4>Related</h4>
                    <ul class="ic-skills_section-related_list">
                        <li>Agile/Scrum Project Management</li>
                        <li>Comprehensive Quality Assurance</li>
                        <li>Effective Self Organization</li>
                        <li>Extensive Client Research</li>
                        <li>Intuitive Problem Solving</li>
                        <li>Self-Motivated Learner</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="ic-skills_section-other">
            <h4>Personal</h4>
            <p>Provided by <a href="https://www.gallup.com/cliftonstrengths/en/252137/home.aspx"
                    target="_blank">CliftonStrengths</a>, these reflect my personality and work ethic.</p>
            <dl>
                <dt>Analytical</dt>
                <dd>"Searches for reasons and causes. They have the ability to think about all the factors that might
                    affect a situation."</dd>
                <dt>Learner</dt>
                <dd>"Possess a great desire to learn and wants to continuously improve."</dd>
                <dt>Deliberative</dt>
                <dd>“Takes serious care in making decisions or choices. They anticipate obstacles.”</dd>
                <dt>Restorative</dt>
                <dd>“Adept at dealing with problems. They figure out what is wrong and resolve it.”</dd>
                <dt>Intellection</dt>
                <dd>“They are introspective and appreciate intellectual discussions. Simply describes they like to
                    think."</dd>
            </dl>
        </div>
    </div>
</section>
