html {
    box-sizing: border-box;

    &:focus-within {
        scroll-behavior: smooth;
    }
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    min-height: 100vh;
    text-rendering: optimizeSpeed;
    line-height: 1.5;
    font-size: 16px;
    font-family: var(--font-body);
}

body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
    margin: 0;
}

ul[role="list"],
ol[role="list"] {
    list-style: none;
}

img,
picture {
    max-width: 100%;
    display: block;
}

@media (prefers-reduced-motion: reduce) {
    html:focus-within {
        scroll-behavior: auto;
    }

    *,
    *::before,
    *::after {
        animation-duration: 0.01ms !important;
        animation-iteration-count: 1 !important;
        transition-duration: 0.01ms !important;
        scroll-behavior: auto !important;
    }
}

.wrapper {
    padding: 0 1rem;
    max-width: 48rem;
    margin: 0 auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: var(--color-brand-90);
}

h1 {
    font-size: var(--font-size-90);
    line-height: 1.25;
}

h2 {
    font-size: var(--font-size-80);
    line-height: 1.25;
}

h3 {
    font-size: var(--font-size-70);
    line-height: 1.25;
}

h4 {
    font-size: var(--font-size-60);
    line-height: 1.375;
}

h5 {
    font-size: var(--font-size-50);
    line-height: 1.375;
}

h6 {
    font-size: var(--font-size-40);
    line-height: 1.375;
}

p {
    font-size: var(--font-size-30);
    line-height: 1.5;
}
