body {
    background: var(--color-white);
}

.iu-container {
    padding: 0 1.5rem;
    max-width: 44rem;
    margin: 0 auto;
}

.iu-screen_reader {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}
