:root {
    --font-brand: "Varela Round", sans-serif;
    --font-body: "Catamaran", sans-serif;

    --color-white: #fff;
    --color-black: #000;

    --color-brand-10: #e1e1f9;
    --color-brand-20: #c4c7f4;
    --color-brand-30: #9ca0dd;
    --color-brand-40: #787bbe;
    --color-brand-50: #4b5094;
    --color-brand-60: #363b7f;
    --color-brand-70: #25286b;
    --color-brand-80: #181a55;
    --color-brand-90: #0f1048;

    --color-brand-10: #ebecff;
    --color-brand-20: #cfd1ef;
    --color-brand-30: #b5b8df;
    --color-brand-40: #8387bf;
    --color-brand-50: #585d9f;
    --color-brand-60: #363b7f;
    --color-brand-70: #171c63;
    --color-brand-80: #0b104e;
    --color-brand-90: #02063d;

    // Font scale: https://is.gd/L122Io
    --font-size-90: 2.281rem;
    --font-size-80: 2.027rem;
    --font-size-70: 1.802rem;
    --font-size-60: 1.602rem;
    --font-size-50: 1.424rem;
    --font-size-40: 1.266rem;
    --font-size-30: 1.125rem;
    --font-size-20: 1rem;
    --font-size-10: 0.889rem;
}

$breakpoint-xs: 475px;
$breakpoint-sm: 640px;
$breakpoint-md: 768px;
$breakpoint-lg: 1024px;
$breakpoint-xl: 1280px;
$breakpoint-2x: 1536px;
