<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <!-- Information -->
        <title>
            {% block title %}Miguel Muniz - Designer & Developer{% endblock %}
        </title>
        <meta name="description"
            content="{% block description %}Hello. I'm Miguel Muniz, a designer and developer born and raised in Nebraska focused on creating interfaces and systems.{% endblock %}">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!-- Sources -->
        <link rel="stylesheet" href="styles/main.css">
        <script src="https://kit.fontawesome.com/0d9730670a.js" crossorigin="anonymous" defer></script>
        <script src="https://unpkg.com/@popperjs/core@2/dist/umd/popper.min.js" defer></script>
        <script src="https://unpkg.com/tippy.js@6/dist/tippy-bundle.umd.js" defer></script>
        <script src="scripts/main.js" defer></script>
        {% block meta %}{% endblock %}
    </head>

    <body>
        <a href="#main-content" class="sr-only focus:not-sr-only focus:absolute z-50">Skip to main content</a>
        {% block body %}{% endblock %}
    </body>
</html>
