{{#> layouts/index}}

	<header>
		<img src="" alt="">
		<div class="container mx-auto">
			<img src="" alt="">
			<h1>
				<span>Miguel Muniz</span>
				<span>Designer & Developer</span>
			</h1>
		</div>
	</header>
	<main id="main-content">
		<div class="container mx-auto flex">
			{{> components/menu}}
			<div>
				<section>
					<h2>About</h2>
					<p>Hello, I'm Miguel Muniz. A designer and developer focused on creating interfaces and systems. Born and raised in
					Nebraska, I'm designing web applications and developing a pattern library at the University of Nebraska. With my curiosity,
					knowledge, and persistence, it's my goal to find solutions, build products, and continuously grow.</p>
				</section>
			</div>
		</div>
	</main>
{{/layouts/index}}
