---
title: "Home"
---

<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Website Information -->
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="canonical" href="https://miguel-muniz.com">

    <!-- Favicon Tags -->
    <link rel="apple-touch-icon" sizes="180x180" href="images/general/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="images/general/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="images/general/favicon-16x16.png">
    <link rel="manifest" href="images/general/site.webmanifest">
    <link rel="mask-icon" href="images/general/safari-pinned-tab.svg" color="#363b7f">
    <link rel="shortcut icon" href="images/general/favicon.ico">
    <meta name="msapplication-TileColor" content="#363b7f">
    <meta name="msapplication-config" content="images/general/browserconfig.xml">
    <meta name="theme-color" content="#363b7f">

    <!-- Primary Meta Tags -->
    <title>{{#if title}}{{title}} | {{/if}}Miguel Muniz - Designer & Developer</title>
    <meta name="title" content="Miguel Muniz - Designer & Developer">
    <meta name="description"
        content="A designer and developer focused on creating interfaces and systems. With my curiosity, knowledge, and persistence, it's my goal to find solutions, build products, and continuously grow.">

    <!-- Open Graph / Facebook -->
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://miguel-muniz.com/">
    <meta property="og:title" content="Miguel Muniz - Designer & Developer">
    <meta property="og:description"
        content="A designer and developer focused on creating interfaces and systems. With my curiosity, knowledge, and persistence, it's my goal to find solutions, build products, and continuously grow.">
    <meta property="og:image" content="">

    <!-- Twitter -->
    <meta property="twitter:card" content="summary_large_image">
    <meta property="twitter:url" content="https://miguel-muniz.com/">
    <meta property="twitter:title" content="Miguel Muniz - Designer & Developer">
    <meta property="twitter:description"
        content="A designer and developer focused on creating interfaces and systems. With my curiosity, knowledge, and persistence, it's my goal to find solutions, build products, and continuously grow.">
    <meta property="twitter:image" content="">
</head>

<body>
    <p>test</p>
</body>

</html>